<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel="icon" href="/img/weather icon.png">
        <link rel="stylesheet" href="/css/style.css">
    
    </head>
    <body>
        <div class="main-content">
         {{>header}}
        <h1>{{page title}}</h1>
        <p>{{message}}</p>

        </div>
       
       {{>footer}}
    </body>
</html>