<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather icon.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}  

        <p>This page was created by Yokesh.A.G.It uses weather stack and mapbox to fetch the weather conditions! </p>
        <img  class="landscape" src="/img/my pic.jpg">

        </div>
        
        
        {{>footer}}
    </body>
</html>