<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather icon.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}  
        <img  class="landscape" src="/img/pexels-pixabay-459225.jpg">

        </div>
        
        
        {{>footer}}
    </body>
</html>